.App, .AppBlack {display: flex;
  align-items: stretch;
  text-align: center;
  min-height: 100%;
}
body,.root {
  height: 100%;
}
html {
  height: 100%;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, p, a {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}


.App {
  background-color: #9cc0e0;
}
.AppBlack {
  background-color: #41596f;
}
button:focus {
  outline: none;
}
.app-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}